/* XL devices (default) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #181a1d;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #181a1d;
  border-bottom: 1px solid white;
  text-transform: uppercase;
}

.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 50px;
}

.nav-logo {
  font-size: 40px;
}

.nav-links {
  padding-top: 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin: 0 10px 0 10px;
}

.resume-link-wrapper {
  padding-top: 15px;
}

.resume-link {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.home-section {
  min-height: 600px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name {
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: -6px 7px #5d6679;
}

.description {
  font-size: 40px;
}

.web-developer-description {
  font-size: 48px;
}

.portfolio-title {
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: -6px 7px #5d6679;
}

.about-me-section {
  height: 100vh;
  position: relative;
  background-color: #181a1d;
}

.about-me-title {
  opacity: 20%;
  font-size: 224px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: -6px 7px #5d6679;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.about-me-description {
  font-size: 24px;
  margin-bottom: 10px;
  width: 70%;
  position: absolute;
  right: 0;
  padding-right: 100px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.showcase-section {
  width: 100%;
  margin: 0 auto;
}

.projects-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.project-container {
  max-width: 900px;
  margin: 0 auto;
}

.project-container:last-of-type {
  padding-bottom: 10px;
  border-radius: 2%;
}

.project-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.project-content-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  width: 100%;
}

.project-content-container-invert {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  width: 100%;
  flex-direction: row-reverse;
}

.project-img {
  width: 100%;
  border-radius: 2%;
  border: #919191 solid 1px;
}

.project-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 15px;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.project-technology {
  color: white;
  background-color: #181a1d;
  border: #ffffff 1px solid;
  margin: 3px;
  border-radius: 3px;
  padding: 3px;
}

.project-description {
  font-size: 20px;
  color: white;
  line-height: 28px;
}

.project-links {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.website-link {
  color: white;
  background-color: #5d6679;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}

.github-link {
  color: white;
  background-color: #5d6679;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}

/* Large devices */
@media only screen and (max-width: 1199.98px) {
  .project-container {
    margin-bottom: 50px;
  }
  .project-description-container {
    margin: 0;
  }
  .project-content-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
  .project-content-container-invert {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
}

/* Medium devices */
@media only screen and (max-width: 991.98px) {
  /* ...code... */
}

/* Small devices */
@media only screen and (max-width: 767.98px) {
  .project-content-container {
    width: 90%;
  }
  .project-content-container-invert {
    width: 90%;
  }
}
