* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #181a1d;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #181a1d;
  border-bottom: 1px solid white;
  text-transform: uppercase;
}

.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 50px;
}

.nav-logo {
  font-size: 40px;
}

.nav-links {
  padding-top: 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin: 0 10px 0 10px;
}

.resume-link-wrapper {
  padding-top: 15px;
}

.resume-link {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.home-section {
  min-height: 600px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name {
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: -6px 7px #5d6679;
}

.description {
  font-size: 40px;
}

.web-developer-description {
  font-size: 48px;
}

.portfolio-title {
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: -6px 7px #5d6679;
}

.about-section {
  min-height: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-expertise-title {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 10px;
}

.my-expertise-container {
  display: flex;
}

.my-expertise {
  font-size: 16px;
  max-width: 300px;
  border: 1px solid white;
  margin: 5px;
  padding: 10px;
}

.my-expertise-sub-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
